<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1> Instructions</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h3>For Equipment Calculator: <small>(Work In Progress)</small></h3>
    <ol>
      <li>Go to the navigation bar</li>
      <li>Click the menu</li>
      <li>Click Equipment option</li>
      <li>Select the equipment type</li>
      <li>Select a nation to filter if needed</li>
      <li>Select equipment</li>
      <li>Select tier</li>
    </ol>
    <h4>
      You can edit any of the stats, but FP/AA/AVI are not used in this mode so let them in 0 if editing gun stats
      After any changes to stats, click Update button to redo the calculations
    </h4>
    <h3>For Ship Calculator: <small>(Work In Progress)</small></h3>
    <ol>
      <li>Go to the navigation bar</li>
      <li>Click the menu</li>
      <li>Click Ship option</li>
      <li>Select the hull type</li>
      <li>Select a nation to filter if needed</li>
      <li>Select ship</li>
      <li>Select stat level</li>
    </ol>
    <h4>
      This mode uses Equipment Calculator too, so check it's instructions
      After any changes to stats, click Update button to redo the calculations
    </h4>
  </mat-card-content>
</mat-card>
