<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1> Instructions</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h3>For Equipment Calculator: <small>(Work In Progress)</small></h3>
    <ol>
      <li>Go to the navigation bar</li>
      <li>Click the menu</li>
      <li>Click Equipment option</li>
      <li>Select the equipment type</li>
      <li>Select a nation to filter equipment if needed</li>
      <li>Select the equipment</li>
      <li>Select the tier</li>
      <li>Done</li>
    </ol>
    <h4>Editing Gun Stats</h4>
    <ol>
      <li>Click Stats tab</li>
      <li>Click tab you want to edit, "Base" are the gun Stats and "Modifier" are the ammo modifiers</li>
      <ol>
        <li>The calculator uses Azur Lane Wiki as basis for format of values</li>
      </ol>
      <li>Edit stats as you need/want</li>
      <li>When done, click Update</li>
    </ol>
    <br>
    <h4>Viewing results</h4>
    <ol>
      <li>Click Calculation tab</li>
    </ol>
    <br>
    <h3>For Ship Calculator: <small>(Work In Progress)</small></h3>
    <ol>
      <li>Go to the navigation bar</li>
      <li>Click the menu</li>
      <li>Click Ship option</li>
      <li>Select the hull type</li>
      <li>Select a nation to filter ships if needed</li>
      <li>Select the ship</li>
      <li>Select the level</li>
      <li>Done</li>
    </ol>
    <h3>Modifying Ship Stats</h3>
    <ul>
      <li>Modifying Slots Efficiency</li>
      <ol>
        <li> Select "Ship Name" Stats tab</li>
        <li> Select Efficiencies tab</li>
        <li>Edit stats as you need/want</li>
        <li> When done, click Update</li>
      </ol>
    </ul>
    <ul>
      <li>Equipping a Equipment</li>
      <ol>
        <li> Select Slot tab you want</li>
        <ul>
          <li>The calculator uses Azur Lane Wiki as basis for format of values</li>
        </ul>
        <li>Follow Equipment Calculator to select equipment</li>
        <li>When done, click Equip</li>
      </ol>
    </ul>
    <ul>
      <li>Modifying a Slot</li>
      <ol>
        <li> Select Slot tab you want to edit</li>
        <ul>
          <li>The calculator uses Azur Lane Wiki as basis for format of values</li>
        </ul>
        <li>Edit stats as you need/want</li>
        <li>When done, click Update</li>
      </ol>
    </ul>
    <h4>
      This mode uses a reduced Equipment Calculator in the Ship Slots, so check it's instructions if you need help
    </h4>
  </mat-card-content>
</mat-card>
