<mat-card>
  <mat-card-content>
    <form [formGroup]="gunForm">
      <mat-tab-group mat-align-tabs="center"
                     mat-stretch-tabs
                     animationDuration="0ms">
        <mat-tab label="Base">
          <div fxLayout="column">
            <div fxFlexOrder="1" fxFlexOffset="5%" fxFlex="grow" gdAlignColumns="start">
              <div fxLayout="row wrap">
                <div fxFlexOrder="1" fxFlexOffset="5%">
                  <mat-form-field
                    matTooltip="Firepower Stat"
                    matTooltipShowDelay="1000">
                    <mat-label>Firepower</mat-label>
                    <mat-hint>number</mat-hint>
                    <input
                      matInput
                      formControlName="firepower"
                    />
                  </mat-form-field>
                </div>
                <div fxFlexOrder="2" fxFlexOffset="5%">
                  <mat-form-field
                    matTooltip="AntiAir Stat"
                    matTooltipShowDelay="1000">
                    <mat-label>AntiAir</mat-label>
                    <mat-hint>number</mat-hint>
                    <input
                      matInput
                      formControlName="antiAir"
                    />
                  </mat-form-field>
                </div>
                <div fxFlexOrder="3" fxFlexOffset="5%">
                  <mat-form-field
                    matTooltip="Number of Shells"
                    matTooltipShowDelay="1000">
                    <mat-label>Number</mat-label>
                    <mat-hint>number</mat-hint>
                    <input
                      matInput
                      formControlName="bulletNumber"
                    />
                  </mat-form-field>
                </div>
                <div fxFlexOrder="4" fxFlexOffset="5%">
                  <mat-form-field
                    matTooltip="Damage per Shell"
                    matTooltipShowDelay="1000">
                    <mat-label>Damage</mat-label>
                    <mat-hint>number</mat-hint>
                    <input
                      matInput
                      formControlName="bulletDmg"
                    />
                  </mat-form-field>
                </div>
                <div fxFlexOrder="5" fxFlexOffset="5%">
                  <mat-form-field matTooltip="Percentage, OpSi makes it bigger"
                                  matTooltipShowDelay="1000">
                    <mat-label>Coefficient</mat-label>
                    <mat-hint>percentage</mat-hint>
                    <input
                      matInput
                      formControlName="coefficient"
                    />
                  </mat-form-field>
                </div>
                <div fxFlexOrder="6" fxFlexOffset="5%">
                  <mat-form-field
                    matTooltip="Equipment Type, is a Constant"
                    matTooltipShowDelay="1000">
                    <mat-label>Absolute Cooldown</mat-label>
                    <mat-hint>seconds</mat-hint>
                    <input
                      matInput
                      formControlName="cooldown"
                    />
                  </mat-form-field>
                </div>
                <div fxFlexOrder="7" fxFlexOffset="5%">
                  <mat-form-field matTooltip="Time the Gun uses to shoot"
                                  matTooltipShowDelay="1000">
                    <mat-label>Volley Time</mat-label>
                    <mat-hint>seconds</mat-hint>
                    <input
                      matInput
                      formControlName="volleyTime"
                    />
                  </mat-form-field>
                </div>
                <div fxFlexOrder="8" fxFlexOffset="5%">
                  <mat-form-field
                    matTooltip="Time that is need to fire again"
                    matTooltipShowDelay="1000">
                    <mat-label>Reload</mat-label>
                    <mat-hint>seconds</mat-hint>
                    <input
                      matInput
                      formControlName="reload"
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Modifiers">
          <div fxLayout="column">
            <div fxFlexOrder="1" fxFlexOffset="5%" fxFlex="grow" gdAlignColumns="start">
              <div fxLayout="row wrap">
                <div fxFlexOrder="1" fxFlexOffset="5%">
                  <mat-form-field
                    matTooltip="Percentage against Light Armor"
                    matTooltipShowDelay="1000">
                    <mat-label>Light Modifier</mat-label>
                    <mat-hint>percentage</mat-hint>
                    <input
                      matInput
                      formControlName="light"
                    />
                  </mat-form-field>
                </div>
                <div fxFlexOrder="2" fxFlexOffset="5%">
                  <mat-form-field
                    matTooltip="Percentage against Medium Armor"
                    matTooltipShowDelay="1000">
                    <mat-label>Medium Modifier</mat-label>
                    <mat-hint>percentage</mat-hint>
                    <input
                      matInput
                      formControlName="medium"
                    />
                  </mat-form-field>
                </div>
                <div fxFlexOrder="3" fxFlexOffset="5%">
                  <mat-form-field
                    matTooltip="Percentage against Heavy Armor"
                    matTooltipShowDelay="1000">
                    <mat-label>Heavy Modifier</mat-label>
                    <mat-hint>percentage</mat-hint>
                    <input
                      matInput
                      formControlName="heavy"
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button [style.margin.px]="5"
            mat-raised-button
            color="primary"
            matTooltip="Update Stats"
            matTooltipShowDelay="500"
            (click)="onSubmit()"
            type="button">
      Update
    </button>
  </mat-card-actions>
</mat-card>
