<mat-card>
  <mat-card-content>
    <div>
      <mat-form-field
        matTooltip="Filter by Nationality"
        matTooltipShowDelay="1500">
        <mat-label>Select Nationality</mat-label>
        <mat-select (selectionChange)="onChangeNationality($event)"
                    (click)="onNationFilter()"
                    [value]="initialNation">
          <mat-option>
            <ngx-mat-select-search (input)="onNationFilter()"
                                   placeholderLabel="Find nation..."
                                   noEntriesFoundLabel="No matching nation found"
                                   [clearSearchInput]="true"
                                   [formControl]="filter"></ngx-mat-select-search>
          </mat-option>
          <mat-option
            *ngFor="let nation of nationListFilter"
            [value]="nation">
            {{nation}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        matTooltip="Filter by Name"
        matTooltipShowDelay="1500">
        <mat-label>Select Gun</mat-label>
        <mat-select (selectionChange)="onChangeGun($event)"
                    (click)="onGunFilter()"
                    [value]="initialEquipment">
          <mat-option>
            <ngx-mat-select-search (input)="onGunFilter()"
                                   placeholderLabel="Find gun..."
                                   noEntriesFoundLabel="No matching gun found"
                                   [clearSearchInput]="true"
                                   [formControl]="filter"></ngx-mat-select-search>
          </mat-option>
          <mat-option
            *ngFor="let equipment of equipmentListFilter"
            [value]="equipment"
            [matTooltip]="equipment.id"
            matTooltipShowDelay="500">
            <img class="img" [src]="equipment.image | loadEquipmentImage" height="25">
            <span>{{equipment.name}}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        matTooltip="Filter by Tier"
        matTooltipShowDelay="1500">
        <mat-label>Select Tier</mat-label>
        <mat-select (selectionChange)="onChangeTier($event)"
                    (click)="onTierFilter()"
                    [value]="initialTier"
                    [disabled]="initialEquipment === null">
          <mat-option>
            <ngx-mat-select-search (input)="onTierFilter()"
                                   placeholderLabel="Find tier..."
                                   noEntriesFoundLabel="No matching tier found"
                                   [clearSearchInput]="true"
                                   [formControl]="filter"></ngx-mat-select-search>
          </mat-option>
          <mat-option
            *ngFor="let tier of tierListFilter"
            [value]="tier">
            <span>{{tier.rarity}} </span>
            <small>{{tier.stars}}</small>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>
