<mat-card>
  <mat-card-content>
    <form [formGroup]="torpedoForm">
      <mat-tab-group mat-align-tabs="center"
                     mat-stretch-tabs
                     animationDuration="0ms">
        <mat-tab label="Base">
          <div fxLayout="column">
            <div fxFlexOrder="1" fxFlexOffset="5%" fxFlex="grow" gdAlignColumns="start">
              <div fxLayout="row wrap"
                   matTooltip="Torpedo Stat"
                   matTooltipShowDelay="1000">
                <div fxFlexOrder="1" fxFlexOffset="5%">
                  <mat-form-field>
                    <mat-label>Torpedo</mat-label>
                    <mat-hint>number</mat-hint>
                    <input
                      matInput
                      formControlName="torpedo"
                    />
                  </mat-form-field>
                </div>
                <div fxFlexOrder="2" fxFlexOffset="5%">
                  <mat-form-field
                    matTooltip="Number of Torpedoes"
                    matTooltipShowDelay="1000">
                    <mat-label>Number</mat-label>
                    <mat-hint>number</mat-hint>
                    <input
                      matInput
                      formControlName="torpedoNumber"
                    />
                  </mat-form-field>
                </div>
                <div fxFlexOrder="3" fxFlexOffset="5%">
                  <mat-form-field
                    matTooltip="Damage per Torpedo"
                    matTooltipShowDelay="1000">
                    <mat-label>Damage</mat-label>
                    <mat-hint>number</mat-hint>
                    <input
                      matInput
                      formControlName="torpedoDmg"
                    />
                  </mat-form-field>
                </div>
                <div fxFlexOrder="4" fxFlexOffset="5%">
                  <mat-form-field
                    matTooltip="Percentage, OpSi makes it bigger"
                    matTooltipShowDelay="1000">
                    <mat-label>Coefficient</mat-label>
                    <mat-hint>percentage</mat-hint>
                    <input
                      matInput
                      formControlName="coefficient"
                    />
                  </mat-form-field>
                </div>
                <div fxFlexOrder="5" fxFlexOffset="5%">
                  <mat-form-field
                    matTooltip="Time that is need to launch again"
                    matTooltipShowDelay="1000">
                    <mat-label>Reload</mat-label>
                    <mat-hint>seconds</mat-hint>
                    <input
                      matInput
                      formControlName="reload"
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Modifiers">
          <div fxLayout="column">
            <div fxFlexOrder="1" fxFlexOffset="5%" fxFlex="grow" gdAlignColumns="start">
              <div fxLayout="row wrap">
                <div fxFlexOrder="1" fxFlexOffset="5%">
                  <mat-form-field
                    matTooltip="Percentage against Light Armor"
                    matTooltipShowDelay="1000">
                    <mat-label>Light Modifier</mat-label>
                    <mat-hint>percentage</mat-hint>
                    <input
                      matInput
                      formControlName="light"
                    />
                  </mat-form-field>
                </div>
                <div fxFlexOrder="2" fxFlexOffset="5%">
                  <mat-form-field
                    matTooltip="Percentage against Medium Armor"
                    matTooltipShowDelay="1000">
                    <mat-label>Medium Modifier</mat-label>
                    <mat-hint>percentage</mat-hint>
                    <input
                      matInput
                      formControlName="medium"
                    />
                  </mat-form-field>
                </div>
                <div fxFlexOrder="3" fxFlexOffset="5%">
                  <mat-form-field
                    matTooltip="Percentage against Heavy Armor"
                    matTooltipShowDelay="1000">
                    <mat-label>Heavy Modifier</mat-label>
                    <mat-hint>percentage</mat-hint>
                    <input
                      matInput
                      formControlName="heavy"
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button [style.margin.px]="5"
            mat-raised-button
            color="primary"
            matTooltip="Update Stats"
            matTooltipShowDelay="500"
            (click)="onSubmit()"
            type="button">
      Update
    </button>
  </mat-card-actions>
</mat-card>
