<app-nav-bar></app-nav-bar>
<div class="container">

  <ng-container>
    <h1>Gun Selector</h1>
    <app-gun-select></app-gun-select>
    <ng-container *ngIf="isGunActive">
      <app-gun></app-gun>
      <mat-divider></mat-divider>
      <ng-container *ngIf="isGunCalculationActive">
        <app-gun-calculation></app-gun-calculation>
        <mat-divider></mat-divider>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-container>
    <h1>Ship Selector</h1>
    <app-ship-select></app-ship-select>
    <ng-container *ngIf="isShipActive">
      <div>
        <div>
          <app-ship></app-ship>
          <mat-divider></mat-divider>
        </div>
        <ng-container *ngIf="isGunActive && isShipActive">
          <div>
            <app-ship-calculation></app-ship-calculation>
            <mat-divider></mat-divider>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>

</div>
