<div fxLayout="column">
  <div fxFlexAlign="center"
       fxFlexOffset="1%">
    <h1>{{slotName}} Selector</h1>
    <app-torpedo-select></app-torpedo-select>
  </div>
</div>
<div *ngIf="isTorpedoActive">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <img mat-card-avatar class="img" [src]="getImage | loadEquipmentImage">
        <strong>{{getTitle}}</strong>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-torpedo-item></app-torpedo-item>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" (click)="equipGun()">Equip</button>
    </mat-card-actions>
  </mat-card>
</div>
