<mat-card>
  <mat-card-header>
    <mat-card-title>
      Result of equipment slots with Ship Stats
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="calculationForm">
      <div fxLayout="column">
        <div fxFlexAlign="center"
             fxFlexOffset="1%">
          Slot 1
        </div>
        <div fxFlexAlign="center"
             fxFlexOffset="1%">
          Slot 2
        </div>
        <div fxFlexAlign="center"
             fxFlexOffset="1%">
          Slot 3
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
