<app-hull-nav-bar></app-hull-nav-bar>
<div fxLayout="column">
  <div fxFlexAlign="center"
       fxFlexOffset="1%">
    <h1>Ship Selector</h1>
    <app-ship-select></app-ship-select>
  </div>
</div>
<div *ngIf="isShipActive">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <img mat-card-avatar class="img" [src]="shipImage | loadShipImage">
        <strong>{{getTitle}}</strong>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-ship-nav-bar></app-ship-nav-bar>
      <ng-container *ngIf="isShip">
        <app-ship-item></app-ship-item>
      </ng-container>
      <ng-container *ngIf="!isShip && !isCalculations">
        <app-ship-slot-home></app-ship-slot-home>
      </ng-container>
      <ng-container *ngIf="isCalculations">
        <h1>Work In Progress <small>Calculations</small></h1>
      </ng-container>
    </mat-card-content>
  </mat-card>
</div>
