<mat-card>
    <ng-container *ngIf="exists">
      <mat-card-header>
        <img mat-card-avatar [src]="image | loadEquipmentImage">
        <mat-card-title>
          <strong>{{name}}</strong>
        </mat-card-title>
      </mat-card-header>
      <mat-card-subtitle>
        {{type}}
      </mat-card-subtitle>
    </ng-container>
    <ng-container *ngIf="!exists">
      <mat-card-title>
        Slot {{slotId}} Calculation
      </mat-card-title>
    </ng-container>
  <mat-card-content>
    <form [formGroup]="calculationForm">
      <div fxLayout="row wrap" *ngIf="exists">
        <div fxFlexOrder="1" fxFlexOffset="5%">
          <mat-form-field>
            <mat-label>Equipment Cooldown</mat-label>
            <input
              matInput
              readonly
              formControlName="cooldown"
            />
          </mat-form-field>
        </div>
        <div fxFlexOrder="2" fxFlexOffset="5%">
          <mat-form-field>
            <mat-label>Raw DPS</mat-label>
            <input
              matInput
              readonly
              formControlName="raw"
            />
          </mat-form-field>
        </div>
        <ng-container *ngIf="moreThanRaw">
          <div fxFlexOrder="3" fxFlexOffset="5%">
            <mat-form-field>
              <mat-label>Light DPS</mat-label>
              <input
                matInput
                readonly
                formControlName="light"
              />
            </mat-form-field>
          </div>
          <div fxFlexOrder="4" fxFlexOffset="5%">
            <mat-form-field>
              <mat-label>Medium DPS</mat-label>
              <input
                matInput
                readonly
                formControlName="medium"
              />
            </mat-form-field>
          </div>
          <div fxFlexOrder="5" fxFlexOffset="5%">
            <mat-form-field>
              <mat-label>Heavy DPS</mat-label>
              <input
                matInput
                readonly
                formControlName="heavy"
              />
            </mat-form-field>
          </div>
        </ng-container>
      </div>
      <div fxLayout="row wrap" *ngIf="!exists">
        <div fxFlexOffset="5%">
          <h2>No equipment equipped in slot</h2>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
