<div fxLayout="column">
  <div fxFlexAlign="center"
       fxFlexOffset="1%">
    <h1>Torpedo Selector</h1>
    <app-torpedo-select></app-torpedo-select>
  </div>
</div>
<div *ngIf="isTorpedoActive">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <img mat-card-avatar class="img" [src]="image | loadEquipmentImage">
        <strong>{{title}}</strong>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group mat-align-tabs="center"
                     mat-stretch-tabs
                     animationDuration="0ms">
        <mat-tab label="Stats">
          <app-torpedo-item></app-torpedo-item>
        </mat-tab>
        <mat-tab label="Calculation">
          <app-torpedo-calculation></app-torpedo-calculation>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
