<mat-card>
  <mat-card-content>
    <form [formGroup]="shipForm">
      <mat-tab-group mat-align-tabs="center"
                     mat-stretch-tabs
                     animationDuration="0ms"
                     [(selectedIndex)]="initialIndex">
        <mat-tab label="Efficiencies">
          <div fxLayout="column">
            <div fxFlexOrder="1" fxFlexOffset="5%" fxFlex="grow" gdAlignColumns="start">
              <div fxLayout="row wrap">
                <div fxFlexOrder="1" fxFlexOffset="5%">
                  <mat-form-field matTooltip="Modifier to equipment"
                                  matTooltipShowDelay="1000">
                    <mat-label>{{getSlotPrimary}} Efficiency</mat-label>
                    <mat-hint>percentage</mat-hint>
                    <input
                      matInput
                      formControlName="primary"
                    />
                  </mat-form-field>
                </div>
                <div fxFlexOrder="2" fxFlexOffset="5%">
                  <mat-form-field matTooltip="Modifier to equipment"
                                  matTooltipShowDelay="1000">
                    <mat-label>{{getSlotSecondary}} Efficiency</mat-label>
                    <mat-hint>percentage</mat-hint>
                    <input
                      matInput
                      formControlName="secondary"
                    />
                  </mat-form-field>
                </div>
                <div fxFlexOrder="3" fxFlexOffset="5%">
                  <mat-form-field matTooltip="Modifier to equipment"
                                  matTooltipShowDelay="1000">
                    <mat-label>{{getSlotThird}} Efficiency</mat-label>
                    <mat-hint>percentage</mat-hint>
                    <input
                      matInput
                      formControlName="tertiary"
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div fxFlexOrder="2" fxFlexOffset="5%" fxFlex="grow" gdAlignColumns="start">
              <div fxLayout="row wrap">
                <div fxFlexOrder="1" fxFlexOffset="5%">
                  <mat-form-field matTooltip="Number of times equipment is used per reload"
                                  matTooltipShowDelay="1000">
                    <mat-label>{{getSlotPrimary}} Mount</mat-label>
                    <mat-hint>number</mat-hint>
                    <input
                      matInput
                      formControlName="primaryMount"
                    />
                  </mat-form-field>
                </div>
                <div fxFlexOrder="2" fxFlexOffset="5%">
                  <mat-form-field matTooltip="Number of times equipment is used per reload"
                                  matTooltipShowDelay="1000">
                    <mat-label>{{getSlotSecondary}} Mount</mat-label>
                    <mat-hint>number</mat-hint>
                    <input
                      matInput
                      formControlName="secondaryMount"
                    />
                  </mat-form-field>
                </div>
                <div fxFlexOrder="3" fxFlexOffset="5%">
                  <mat-form-field matTooltip="Number of times equipment is used per reload"
                                  matTooltipShowDelay="1000">
                    <mat-label>{{getSlotThird}} Mount</mat-label>
                    <mat-hint>number</mat-hint>
                    <input
                      matInput
                      formControlName="tertiaryMount"
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Base">
          <div fxLayout="column">
            <div fxFlexOrder="1" fxFlexOffset="5%" fxFlex="grow" gdAlignColumns="start">
              <div fxLayout="row wrap">
                <div fxFlexOrder="1" fxFlexOffset="5%">
                  <mat-form-field matTooltip="AntiAir Stat"
                                  matTooltipShowDelay="1000">
                    <mat-label>AntiAir</mat-label>
                    <mat-hint>number</mat-hint>
                    <input
                      matInput
                      formControlName="antiair"
                    />
                  </mat-form-field>
                </div>
                <div fxFlexOrder="2" fxFlexOffset="5%">
                  <mat-form-field matTooltip="Reload Stat"
                                  matTooltipShowDelay="1000">
                    <mat-label>Reload</mat-label>
                    <mat-hint>number</mat-hint>
                    <input
                      matInput
                      formControlName="reload"
                    />
                  </mat-form-field>
                </div>
                <div fxFlexOrder="3" fxFlexOffset="5%">
                  <mat-form-field matTooltip="Firepower Stat"
                                  matTooltipShowDelay="1000">
                    <mat-label>Firepower</mat-label>
                    <mat-hint>number</mat-hint>
                    <input
                      matInput
                      formControlName="firepower"
                    />
                  </mat-form-field>
                </div>
                <div fxFlexOrder="4" fxFlexOffset="5%">
                  <mat-form-field matTooltip="Torpedo Stat"
                                  matTooltipShowDelay="1000">
                    <mat-label>Torpedo</mat-label>
                    <mat-hint>number</mat-hint>
                    <input
                      matInput
                      formControlName="torpedo"
                    />
                  </mat-form-field>
                </div>
                <div fxFlexOrder="5" fxFlexOffset="5%">
                  <mat-form-field matTooltip="Aviation Stat"
                                  matTooltipShowDelay="1000">
                    <mat-label>Aviation</mat-label>
                    <mat-hint>number</mat-hint>
                    <input
                      matInput
                      formControlName="aviation"
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Buffs">
          <div fxLayout="column">
            <div fxFlexOrder="1" fxFlexOffset="5%" fxFlex="grow" gdAlignColumns="start">
              <div fxLayout="row wrap">
                <div fxFlexOrder="1" fxFlexOffset="5%">
                  <mat-form-field matTooltip="Percentage of extra damage, granted by skills and others"
                                  matTooltipShowDelay="1000">
                    <mat-label>Damage Buff</mat-label>
                    <mat-hint>percentage</mat-hint>
                    <input
                      matInput
                      formControlName="damageBuff"
                    />
                  </mat-form-field>
                </div>
                <div fxFlexOrder="2" fxFlexOffset="5%">
                  <mat-form-field matTooltip="Percentage of extra antiAir stat, granted by skills and others"
                                  matTooltipShowDelay="1000">
                    <mat-label>Anti-Air Buff</mat-label>
                    <mat-hint>percentage</mat-hint>
                    <input
                      matInput
                      formControlName="antiairBuff"
                    />
                  </mat-form-field>
                </div>
                <div fxFlexOrder="3" fxFlexOffset="5%">
                  <mat-form-field matTooltip="Percentage of extra reload stat, granted by skills and others"
                                  matTooltipShowDelay="1000">
                    <mat-label>Reload Buff</mat-label>
                    <mat-hint>percentage</mat-hint>
                    <input
                      matInput
                      formControlName="reloadBuff"
                    />
                  </mat-form-field>
                </div>
                <div fxFlexOrder="4" fxFlexOffset="5%">
                  <mat-form-field matTooltip="Percentage of extra firepower stat, granted by skills and others"
                                  matTooltipShowDelay="1000">
                    <mat-label>Firepower Buff</mat-label>
                    <mat-hint>percentage</mat-hint>
                    <input
                      matInput
                      formControlName="firepowerBuff"
                    />
                  </mat-form-field>
                </div>
                <div fxFlexOrder="5" fxFlexOffset="5%">
                  <mat-form-field matTooltip="Percentage of extra torpedo stat, granted by skills and others"
                                  matTooltipShowDelay="1000">
                    <mat-label>Torpedo Buff</mat-label>
                    <mat-hint>percentage</mat-hint>
                    <input
                      matInput
                      formControlName="torpedoBuff"
                    />
                  </mat-form-field>
                </div>
                <div fxFlexOrder="6" fxFlexOffset="5%">
                  <mat-form-field matTooltip="Percentage of extra aviation stat, granted by skills and others"
                                  matTooltipShowDelay="1000">
                    <mat-label>Aviation Buff</mat-label>
                    <mat-hint>percentage</mat-hint>
                    <input
                      matInput
                      formControlName="aviationBuff"
                    />
                  </mat-form-field>
                </div>
                <div fxFlexOrder="7" fxFlexOffset="5%">
                  <mat-form-field matTooltip="Percentage of reduced time for first timing, granted by skills and others | Only used with BB/BC/BM/CV/CVL"
                                  matTooltipShowDelay="1000">
                    <mat-label>First timing reduction</mat-label>
                    <mat-hint>percentage</mat-hint>
                    <input
                      matInput
                      formControlName="initialStrike"
                    />
                  </mat-form-field>
                </div>
                <div fxFlexOrder="8" fxFlexOffset="5%">
                  <mat-form-field matTooltip="Percentage of reduced time for timing, granted by skills and others | Only used with BB/BC/BM/CV/CVL"
                                  matTooltipShowDelay="1000">
                    <mat-label>All timing reduction</mat-label>
                    <mat-hint>percentage</mat-hint>
                    <input
                      matInput
                      formControlName="allStrike"
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button [style.margin.px]="5"
            mat-raised-button
            color="primary"
            matTooltip="Update Ship Stats"
            matTooltipShowDelay="500"
            (click)="onSubmit()"
            type="button">
      Update
    </button>
  </mat-card-actions>
</mat-card>
