<mat-card>
  <mat-card-header>
    <mat-card-title>
      Changelog
    </mat-card-title>
    <mat-card-subtitle>
      v1.0.2 | 2021 - 03 - 04
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <li>Fix: CV/CVL Advanced Calculation, Light/Medium/Heavy DPS were not showing</li>
      <li>New: Added Timing for Planes and BB Guns</li>
      <ul>
        <li>
          Temporal buffs (like Howe) are not considered, I don't get the math Dx
        </li>
      </ul>
    </ul>
  </mat-card-content>
</mat-card>
